

<ion-content [fullscreen]="true">
  <div class="spotlight" [style.background-image]="'url(/assets/images/toeic600.png)'" (click)="toeic600()">
    <div class="gradient"></div>
    <div class="so"><h1  style="color:aliceblue;font-size: 100px;">600</h1></div>
    <div class="text"><h1 style="color: rgb(45,211,111); ">Word for Toeic</h1></div>
  </div>
  <div class="spotlight" [style.background-image]="'url(/assets/images/toeic600.png)'" (click)="toeic600()">
    <div class="gradient"></div>
    <div class="so1000"><h1  style="color: aliceblue;font-size: 100px;">1000</h1></div>
    <div class="text"><h1 style="color: rgb(45,211,111); ">Word for Ielts</h1></div>
  </div>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <h1>Slide 1</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide>
      <h1>Slide 3</h1>
    </ion-slide>
  </ion-slides>
</ion-content>
